<nav class="global-nav">
    <ul>
        <li class="nav-item active"><a href="{{ .Site.BaseURL }}"><span class="material-icons-round">home</span> HOME</a></li>
        <li class="nav-item"><a href="{{ .Site.BaseURL }}/about"><span class="material-icons-round">info</span> About</a></li>
        <li class="nav-item"><a href="{{ .Site.BaseURL }}/documents"><span class="material-icons-round">description</span> Docs</a></li>
    </ul>
</nav>
</div>
</header>
<div class="wrapper clearfix">
<main class="main">
    <div class="content">
