<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>{{ .Title }}｜{{ .Site.Title }}</title>
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/reset.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/syntax.css" media="screen" title="no title" charset="utf-8">
        <link rel="shortcut icon" href="favicon.ico">
        <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        <script type="text/x-mathjax-config"> MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ["\\(","\\)"]] } });</script>
    </head>
    <body>
        <header class="header">
            <div class="header-wrapper">
                <h1 class="logo">
                    <a href="{{ .Site.BaseURL }}">文藝部L<span class="a">a</span>T<span class="e">e</span>X研究会</a>
                </h1>
