@charset "utf-8";

/* ===================================================================
		style.css --- 外部css読込み設定
=================================================================== */

@import url("reset.css");	/* 共通初期設定 */
@import url("112.css");	/* レイアウト設定 */
@import url("mystyle.css");	/* レイアウト設定 */

/* ================================================================ */
