{{ partial "site_header.html" . }}
{{ partial "menu_about.html" . }}
<h1>About</h1>
<p>ここは文藝部L<span class="a">a</span>T<span class="e">e</span>X研究会の資料置き場である。</p>

<h2>文藝部LaTeX研究会とは</h2>
<p><a href="http://qdaibungei.web.fc2.com/">九州大学文藝部</a>の下部組織。組版を中心とした文藝部の技術的側面を研究する目的のもとに誕生した。現在、元文藝部員一名により運営。</p>

<h2>注意</h2>
<ul>
    <li>このサイトに書かれてあることは九州大学文藝部の主張ではない。ましてや九州大学の主張ではないし、九州の主張でもない。単なる執筆者一個人としての主張であって、所属する団体とは一切無関係である。</li>
    <li>このサイトに書かれてあることは、この文章も含め、正しいという保証はない。ご注意願いたい。</li>
</ul>

<h2>連絡先</h2>
<p>当サイトに関する疑問・感想・意見などございましたら<a href="https://twitter.com/elderQULC">@elderQULC</a>までお寄せ下さい。</p>
{{ partial "site_footer.html" . }}
