{{ partial "site_header.html" . }}
{{ partial "menu_about.html" . }}
<h1>About</h1>
<p>ここは文藝部L<span class="a">a</span>T<span class="e">e</span>X研究会の資料置き場である。</p>

<h2>文藝部LaTeX研究会とは</h2>
<p>文藝部LaTeX研究会は、文藝の技術的側面（とりわけLaTeX組版）を研究する目的で作られた会。<a href="http://qdaibungei.web.fc2.com/">九州大学文藝部</a>の下部組織として誕生した。現在、元文藝部員一名により運営。</p>

<p>現在、制作物として、</p>
<ul>
    <li><a href="{{ .Site.BaseURL }}/documents/2017-02-18-hanmen/">hanmenパッケージ</a></li>
    <li><a href="{{ .Site.BaseURL }}/documents/2017-02-17-jdash/">jdashパッケージ</a></li>
</ul>
<p>を配布中です。</p>

<h2>連絡先</h2>
<p>当サイトに関する疑問・感想・意見などございましたら<a href="https://twitter.com/elderQULC">@elderQULC</a>までお寄せ下さい。</p>

<h2>ほしいものリスト</h2>
<ul>
    <li><a href="https://www.amazon.jp/hz/wishlist/ls/U0EH3E0JM0EN?ref_=wl_share">ほしいものリスト</a></li>
</ul>
{{ partial "site_footer.html" . }}
