{{ partial "site_header.html" . }}
{{ partial "menu_documents.html" . }}

<h1>Documents</h1>
<h2>記事一覧</h2>
<p>
    {{ range .Data.Pages }}
        <a href="{{ .Permalink }}">{{ .Title }}</a><span class="docs-date">{{ .Date.Format "2006/1/2" }}</span><br>
    {{ end }}
</p>
<h2>タグ一覧</h2>
<p>
  {{ range .Site.Taxonomies.tags.ByCount }}
    <a href="{{ "/tags/" | relLangURL }}{{ .Term | urlize }}">{{ .Term }}</a><span class="tag-count">{{ .Count }}</span><br>
  {{ end }}
</p>
{{ partial "site_footer.html" . }}
