{{ partial "site_header.html" . }}
{{ partial "menu_documents.html" . }}

<ul class="posts">
    {{ range .Site.RegularPages.ByDate.Reverse }}
        <li><span class="docs-date">{{ .Date.Format "2006-01-02" }}</span><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>
<br>
{{ range .Site.Taxonomies.tags.ByCount }}
  <div class="tags">
    <a href="{{ $.Site.BaseURL | relURL }}/tags/{{ .Name | urlize }}">#{{ .Page.Title }}</a><span class="tag-count">{{ .Count }}</span>
    <!-- <a href="{{ "/tags/" | relLangURL }}{{ .Term | urlize }}">#{{ .Term }}</a> -->
  </div>
{{ end }}

{{ partial "site_footer.html" . }}
