{{ partial "site_header.html" . }}
{{ partial "menu_documents.html" . }}

<h1>Documents</h1>
<h2>記事一覧</h2>
<ul>
    {{ range .Data.Pages }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a>（{{ .Date.Format "2006/1/2" }}）{{ with .Params.tags }} {{ range . }} <code><a href="{{ "/tags/" | relLangURL }}{{ lower . }}">#{{ . }}</a></code> {{ end }}{{ end }}</li>
    {{ end }}
</ul>
<h2>タグ一覧</h2>
<ul>
  {{ range .Site.Taxonomies.tags.ByCount }}
    <li><a href="{{ "/tags/" | relLangURL }}{{ .Term | urlize }}">{{ .Term }}</a> ({{ .Count }})
  {{ end }}
</ul>
{{ partial "site_footer.html" . }}
